[user]
    #name = rongxiang
    #email = rongxiang.song@careerdream.org
	name =  tinysong
	email = tinysong1226@gmail.com
[include]
	path = ~/.gitconfig.local
[push]
	default = simple
[core]
	editor = emacs
	excludesfile = /Users/song/.gitignore_global

[alias]
	# Show the diff between the latest commit and the current state
	d	= !"git diff"
	# `git di $number` shows the diff between the state `$number` revisions ago and the current state
	di	= !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
	g	= git
	cm	= commit
	cl	= clone
	ps   = push
	pl   = pull
	br	= branch
	st	= status
	co	= checkout
	sm	= submodule
	ci	= commit -a -v
	unst = reset HEAD
	throw	= reset --hard HEAD
	throwh	= reset --hard HEAD^
	clr	= clean -fdx -f
    last	= log -1
    lc = log ORIG_HEAD.. --stat --no-merges
	glog	= log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	slog	= log --pretty=oneline
	accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	tagcommit = !sh -c 'git rev-list $0 | head -n 1'
    undo=reset --hard
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = tinysong
